<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type"/>
  </head>

  <body>
    <h2>We have a new sign up on the busienss platform. Yay!</h2>
    <p>First Name: <%= @details[:first_name] %></p>
    <p>Last Name: <%= @details[:last_name] %></p>
    <p>Company: <%= @details[:company] %></p>
    <p>Contact: <%= @details[:contact_number] %></p>
    <p>Email: <%= @details[:email] %></p>
  </body>
</html>