<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type"/>
  </head>

  <body>
    <h2>A new submission has been obtained</h2>
    <p>First Name: <%= @submission.first_name%></p>
    <p>Last Name: <%= @submission.last_name%></p>
    <p>Email: <%= @submission.email%></p>
    <p>Company: <%= @submission.company%></p>
    <p>Phone Number: <%= @submission.phone_number%></p>
    <p>Other inquiries: <%= @submission.other_inquiries%></p>
    <p>Promo Code: <%= @submission.promo_code%></p>
    <!-- add additional information if necessary-->
  </body>
</html>