<%= content_for(:page_buttons) do %>
    <ul class="pull-left navbar-justlogin">
      <li>
        <button class="btn btn-link back-button" data-previous-step="<%= previous_confirm_button %>">Previous</button>
      </li>
    </ul>
    <ul class="pull-right navbar-justlogin">
      <li>
        <button class="btn btn-primary submit-button next-button" id="selection-btn" disabled="disabled" data-form-target="step3">
          Save and Continue
        </button>
      </li>
    </ul>
<% end %>

<%= form_tag('/process/step3', method: :post, id: 'step3') do %>
    <div class="content container">
      <div class="row">
        <div class="col-sm-12">

          <div>
            <div class="row tab-header">
              <div class="col-sm-12 text-center">
                <h2>Please confirm</h2>
              </div>
            </div>

            <div class="row tab-body">
              <div class="col-sm-8 col-sm-offset-2">
                <h3>Selected Products</h3>
                <div class="row benefits">

                </div>
                <div class="row">
                <%= f.input :first_name, placeholder: 'First Name', wrapper_html: { class: 'with-helper col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1' } %>
                <%= f.input :last_name, placeholder: 'Last Name', wrapper_html: { class: 'with-helper col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1' } %>
                <%= f.input :email, placeholder: 'Email', required: false, wrapper_html: { class: 'with-helper col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1' } %>
                <%= f.input :company, placeholder: 'Company', wrapper_html: { class: 'with-helper col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1' } %>
                <%= f.input :phone_number, placeholder: 'Contact Number', wrapper_html: { class: 'with-helper col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1' } %>
                <%= f.input :other_inquiries, as: :text, row: 3, placeholder: 'Other inquiries', wrapper_html: { class: 'col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1' } %>
                </div>

                <div class="eligibility">
                  <h3>Eligibility</h3>
                  <p class="lead">The products will be for</p>
                  <ul class="lead">
                    <li>at least 3 full-time staff members</li>
                    <li>members who are between 16 and 65 years of age</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-8 col-sm-offset-2 text-center">
                <label class="confirm-checkbox">
                  <input type="checkbox" value="yes" name='confirmation' class="input-select">
                  <strong>Yes, I meet all the above criteria!</strong>
                </label>
              </div>
            </div>


          </div>


          <div class="clearfix"></div>
        </div>

      </div>
    </div>
<% end %>