Someone has response to HiveUp JustLogin
<p>Name: <%=@submit_info[:firstname]%> <%=@submit_info[:lastname]%></p>
<p>Email: <%=@submit_info[:email]%></p>
<p>Phone Number: <%=@submit_info[:number]%></p>
<p>Company: <%=@submit_info[:firstname]%></p>
<p>Message: <%=@submit_info[:firstname]%></p>