<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Hive-Up - JustLogin</title>

  <%= stylesheet_link_tag('application') %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:600|Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path("favicon/apple-icon-57x57.png") %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path("favicon/apple-icon-60x60.png") %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path("favicon/apple-icon-72x72.png") %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path("favicon/apple-icon-76x76.png") %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path("favicon/apple-icon-114x114.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path("favicon/apple-icon-120x120.png") %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path("favicon/apple-icon-144x144.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path("favicon/apple-icon-152x152.png") %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path("favicon/apple-icon-180x180.png") %>">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= image_path("favicon/android-icon-192x192.png") %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path("favicon/favicon-32x32.png") %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path("favicon/favicon-96x96.png") %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path("favicon/favicon-16x16.png") %>">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
<div id="wrapper">
  <% if content_for?(:page_buttons) %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <%= image_tag("hiveup-logo.svg", :class => "logomark") %>
              <%= image_tag("hiveup-wordmark.svg", :class => "hidden-xs wordmark") %>
            </a>
            <ul class="pull-left navbar-justlogin">
              <li>
                <a href="/login" class="btn btn-link">Login</a>
              </li>
            </ul>
            <%= yield :page_buttons %>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
      <div id="loading">
        <div class="thecube">
          <div class="cube c1"></div>
          <div class="cube c2"></div>
          <div class="cube c4"></div>
          <div class="cube c3"></div>
        </div>
      </div>
  <% end %>
  <%= yield %>
  <%= render partial: '/shared/footer' %>
</div>

<%= javascript_include_tag('application') %>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/594a042be9c6d324a473683a/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
